

.content-System {
    display: flex;
    height: 100%;
    .content-Navbar{
        background-color: #004B40;
        height: 63px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        em{
            font-size: 26px;
            color: #F2F2F2;
            padding: 24px;
        }
        .tittle{
            text-align: center;
            font-size: 20px;
            letter-spacing: 0px;
            font-weight: 400;
            color: #FFFFFF;
            margin: 0;
        }
    }
    
        .navbar-from-sidebar{
            background-color:#004B40 ;
            height: 63px;
            width: 100%;
            align-items: center;
            width: 100%;
            justify-content: center;
            display: flex;
            img{
                width: 104px;
                height: 33px;
            }
        }
        .profile-flex{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-top: 16px;
            margin-bottom: 16px;
            .user-profile{
                width: 87px;
                height: 87px;
                border-radius: 50%;
                background: #D1FBD9 0% 0% no-repeat padding-box;
                box-shadow: 0px 3px 8px #00000029;
                opacity: 1;
                margin-bottom: 16px;
            }
        }
        
    
    .content-body {
        display: flex;
        flex-direction: column;
        background-color:#F2F2F2 ;
        width: 100%;
        height: 100vh;
        .contente-views {
            flex: 1;
            overflow-y: scroll;
        }
    }
}

::ng-deep.p-sidebar .p-sidebar-content{
    padding: 0;
}

::ng-deep.p-sidebar .p-sidebar-header{
    padding: 0;
}

::ng-deep.p-button:enabled:hover {
    background: #004B40;
    color: #ffffff;
    border-color: #004B40;
}

::ng-deep.p-datatable .p-datatable-thead > tr > th {
    background: #004B40;
    color: #ffffff;
    width: 25%;
}

::ng-deep.p-datatable .p-datatable-tbody > tr{
    border-bottom: 1px solid #DDDDDD;
}

::ng-deep.p-datatable .p-datatable-tbody > tr > td{
    width: 25%;
}

::ng-deep.p-inputtext{
    background: transparent;
    border-bottom: 1px solid #ced4da;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    padding-left: 0;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

::ng-deep.p-panelmenu .p-panelmenu-header > a{
    background: var(---ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

::ng-deep.p-panelmenu .p-panelmenu-header.p-highlight > a{
    color: #004B40;
}

::ng-deep.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-menuitem-text{
    color: #004B40;
    font-size: 16px;
}

::ng-deep.p-panelmenu .p-panelmenu-header.p-highlight:not(.p-disabled) > a:hover{
    background: #004B40;
    color: #FFFFFF;
}

::ng-deep.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled):hover{
    background: #D1D1D1 0% 0% no-repeat padding-box;
}

